{% extends 'base.html' %}
{% block sotuv_active %} active {% endblock %}
{% block section %} Sotuv {% endblock %}
{% block content %}
<!-- /.content-header -->
<div class="col-md-12">
    <div class="card card-dark">
        <div class="card-header border-0">
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Statistika
                    qo'shish
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table" style="text-align: center;">
                <thead>
                <tr>
                    <th scope="col" style="width: 15px">T/r</th>
                    <th scope="col" style="width: 255px; text-align: center;">Mahsulot, brendi</th>
                    <th scope="col" style="text-align: center;">Mijoz, Do'kon nomi</th>
                    <th scope="col" style="text-align: center;">Sana</th>
                    <th scope="col" style="text-align: center;">Miqdor</th>
                    <th scope="col" style="text-align: center;">Umumiy summa</th>
                    <th scope="col" style="text-align: center;">To'landi</th>
                    <th scope="col" style="text-align: center;">Nasiya</th>
                </tr>
                </thead>
                <tbody>
                {% for sotuv in sotuvlar %}
                <tr>
                    <th scope="row">{{ forloop.counter }}.</th>
                    <td>{{ sotuv.mahsulot.nom }}, {{ sotuv.mahsulot.brend }}</td>
                    <td>{{ sotuv.mijoz.ism }}, {{ sotuv.mijoz.dokon }}</td>
                    <td>{{ sotuv.sana }}</td>
                    <td>{{ sotuv.miqdor}}</td>
                    <td>{{ sotuv.jami_summa }} so'm</td>
                    <td>{{ sotuv.tolandi }} so'm</td>
                    <td>{{ sotuv.qarz }} so'm</td>
                    <td><a href="{{sotuv.id}}/tahrirlash">
                        <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                    </a>
                        <a href="{{sotuv.id}}/ochirish/tasdiqlash">
                            <button type="submit" class="btn btn-danger" data-toggle="modal">Ochirish</button>
                        </a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-dark">
                <h4 class="modal-title">Yangi statistika</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form action="#" id="new-product-form" method="post">{% csrf_token %}
                <div class="modal-body">
                    <label>Mahsulot:</label>
                    <select name="mahsulot_id">
                        {% for mahsulot in mahsulotlar %}
                        <option value="{{ mahsulot.id }}">{{ mahsulot.nom }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label>Mijoz:</label>
                    <select name="mijoz_id">
                        {% for mijoz in mijozlar %}
                        <option value="{{ mijoz.id }}">{{ mijoz.ism }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for="miqdor">Miqdor:</label>
                    <input type="number" name="miqdor" placeholder="Miqdor" id="miqdor" class="form-control" required>
                    <br>
                    <label for="umumiy_summa">Umumiy summa:</label>
                    <input type="number" name="jami_summa" placeholder="Umumiy summa" id="umumiy_summa"
                           class="form-control">
                    <br>

                    <label for="tolandi">To'landi:</label>
                    <input type="number" name="tolandi" placeholder="To'landi" id="tolandi" class="form-control">
                    <br>
                    <label for="Qarzi">Qarzi:</label>
                    <input type="number" name="qarz" placeholder="Qarzi" id="Qarzi" class="form-control">
                    <br>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Qo`shish</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}